.search-bar {
  border: 1px solid rgb(176, 176, 176);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  height: 80%;
  color: rgb(176, 176, 176);
}

.search-bar-icon {
  padding-right: 1vw;
  background:transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar-input {
  padding-left: 1vw;
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar-input input {
  width: 150px;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  color: white;
}

::placeholder {
  opacity: 1;
  color: rgb(143, 143, 143);
}