.graph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graph-heading {
  width: 90%;
  margin: 5vh 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.graph-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.graph-title-name {
  font-size: 2rem;
  text-transform: capitalize;
}

.interval-selector {
  width: 25%;
  height: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.interval {
  width: 5vh;
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
}

#chart {
  width: 90% !important;
  height: 60vh !important;
}
