.search-bar {
  border: 1px solid rgb(129, 129, 129);
  border-radius: 0 5px 5px 0;
  display: flex;
  flex-direction: row;
  height: 100% !important;
}

.search-bar-icon {
  padding-left: 1vh;
  background: rgb(240, 240, 240);
  display: flex;
  flex-direction: row;
  align-items: center;
}

svg {
  background: none
}

.search-bar-input {
  height: 100%;
  background: rgb(240, 240, 240);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-bar-input input {
  height: 100%;
  background: rgb(240, 240, 240);
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
}

::placeholder {
  color: rgb(59, 59, 59);
}

.search-bar-clear {
  background: rgb(240, 240, 240);
  padding-right: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}