* {
    background: black;
    font-family: "Poppins", sans-serif;
}

.home, .news, .about, .contact {
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
